html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding:0 40px;
}

body{
    margin:0;
    overflow-x: hidden;
}

.body-active{
    overflow-y:hidden;
}

/*header*/


.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    align-items: center;
    margin-top:60px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    margin-bottom:15px;
}

.nav-item{
    margin-right:35px;
    list-style-type: none;
    color: #CDCDCD;
    font-family: 'Arial';
    font-weight: 400;
    font-style:normal;
    font-size: 15px;
    line-height: 160%;
}

.nav-item:last-child{
    margin-right: 0;
}

.nav-link{
    font-family: 'Arial';
    line-height: 160%;
    position: relative;
    font-size:15px;
    font-weight: 400;
    color:#CDCDCD;
    text-decoration: none;
    transition: color .1s linear;
}

.nav-link-active {
    color:#FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:after {
    content: "";
    display:block;
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
    opacity: 0;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav-link:hover {
    color:#FAFAFA;
}

.nav-link:hover:after{
    opacity: 1;
}


.logo{
    width:184px;
    height: 60px;
    top:60px;
    color: #F1CDB3;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.logo-text{
font-family: Arial;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.1em;
color:#FFFFFF;
margin:10px 0;
}


/*burger*/


.header-burger{
    width:30px;
    height:22px;
    position:relative;
    display: none;
    cursor: pointer;
}

.burger-line{
    display:block;
    width:100%;
    height:2px;
    background-color: #F1CDB3;
    position:absolute;
    left:0;
}

.burger-line-first{
    top:0;
}

.burger-line-second{
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third{
    bottom:0;
}


/*intro*/


.start{
    background: url('../../assets/images/StartScreen.jpg') no-repeat;
    background-size:cover;
    padding-top: 343px;
    height:908px;
}

.start-title{
    color:white;
font-family: Georgia;
font-size: 44px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0em;
text-align: left;
width:310px;
margin:0 0 42px 0;
}

.start-text{
    width:460px;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
color:#CDCDCD;
padding-bottom: 30px;
}

.start-btn{
    display: flex;
}

.make-href{
    text-decoration: none;
    color:#292929;
}

.button{
    height:52px;
    width:207px;
    background-color: #F1CDB3;
    border:0;
    cursor:pointer;
    font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.06em;
border-radius: 100px;
}

.button:hover, .button::after{
background:white;
border:2px;
border:#F1CDB3;
}


/*about*/
.about{
    width:100%;
    margin:0 auto;
}


.about-items{
    margin:80px 175px 100px 175px;
    display:flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 120px;
}



.about-text{
    width:430px;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
color:#4C4C4C;
}

.about-img{
    width:300px;
    height:408px;
}

.about-title{
width:370px;
margin-top:0;
}

.title{
    color:#545454;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.06em;
}

.about-text-second{
    margin-top:20px;
}




/*pets*/



.pets-title{
    width:400px;
    margin:80px auto 0;
    text-align: center;
    padding-bottom:65px;
}


.pets{
    background-color: #F6F6F6;
    width:100%;
    margin:0 auto;
    border: 1px solid #000000;
}

.slider{
    max-width:1050px;
    overflow: hidden;
    margin:0 auto;
    justify-content: space-between;
    min-width: 0;
}

.pets-items{
    width:100%;
    display:flex; 
    align-items: center;
    min-width: 0;
    gap: 90px;
    position: relative;
    transition: all ease 1s;
}

.pets-container{
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.pets-item{
    width:270px;
    height:435px;
    border-radius:9px;
    background-color: #FAFAFA;
    text-align: center;
    cursor: pointer;
    margin-bottom:60px;
}

    .pets-item:hover,
    .pets-item::after{
        background:#ffffff;
        transition: color 0.5s linear;

    } 


.pets-item-img{
    border-radius: 9px;
}

.pet-title{
    font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
color:#545454;
margin-bottom:30px;
}

.pets-button{
    height: 52px;
    width: 187px;
    border-radius: 100px;  
    border: 2px solid #F1CDB3;
    background-color: transparent;
    cursor: pointer; 
    font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.06em;
color:#292929;
}

.pets-button:hover,
.pets-button::after{
    background:#F1CDB3;
    transition: color 0.5s linear;
}

.arrow-btns{
    margin-top:0;
    position:absolute;
}


.arrow-btn{
    width:52px;
    height:52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    background-color:transparent;
    cursor: pointer;
    padding:0px;
    text-align: center;
    display: inline-block;
    margin-bottom:70px;
    
}

.arrow{
    border-radius: 100%;
    padding: 20px 19px;
}

.arrow-prev{
   left:0;
}

.arrow-next{
    right:0;
}

.arrow-prev-sec{
    display: none;
}


.pets-item-last{
    margin-right:53px;
}

.arrow-btn:hover,
.pets-btn:after{
    background:#F1CDB3;
    transition: color 0.5s linear;
}

.btn{
    display:flex; 
    margin-bottom:100px;
}

.get-btn{
    align-items: center;
    margin:0 auto;
    cursor: pointer;
    font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.06em;
color:#292929;
background-color: #F1CDB3;
border-radius: 100px;
border:0;
width:261px;
height:52px;
box-shadow: 0px 4px 4px 0px #00000040;
}

.get-btn:hover,
.get-btn:after{
    background:#FAFAFA;
    transition: color 0.5s linear;
}


/*help*/



.help-title{
    margin:80px auto 60px;
    text-align: center;
}


.help{
    width:100%;
    margin:0;
    margin-bottom:100px;
}

.help-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
  row-gap: 40px;
  gap:120px;
}



.help-item{
    text-align: center;
}

.help-ico{
width:60px;
height:60px;
}

.help-text{
    color:#545454;
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
margin-top:25px;
}


/*donation*/


.donation{
    width:100%;
    margin:0 auto;
    background-color: #F6F6F6;;
}


.donation-items{
    display:flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding:95px 0 110px 0;
}

.donation-title{
    width:300px;
}

.donation-text-first{
    color:#545454;
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.06em;
margin:20px 0;
}

.number-block{
    display:flex;
    flex-wrap: nowrap;
    gap:15px;
    width:349px;
    height:43px;
    background-color: #F1CDB3;
    align-items: center;
    padding-left:15px;
    border-radius: 9px;
}

.number{
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
color:#545454;
margin:0;
text-decoration: none;
}

.number-block::after,
.number-block:hover{
    background:#ffffff;
    transition: color 0.5s linear;
}

.credit-card{
    width:30px;
    height:23px;
    margin:0;
}

.donation-text-second{
    width:380px;
    font-family: Arial;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
color:#B2B2B2;
margin:20px 0;
}

.donation-title{
    margin:0;
}


/*footer*/


.footer{
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%); 
    width:100%;
}

.footer-container{
    padding-top:40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-title{
    color:#ffffff;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.06em;
margin:20px 0;
}

.footer-img{
    height:310px;
}

.footer-contact{
    display:flex;
    flex-wrap: nowrap;
    gap:20px;
    align-items: center;
    margin:40px 0;
}

.footer-ico{
    height:32px;
}




.footer-central-text{
    width:260px;
}

.footer-text{
    color:#F1CDB3;
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
text-decoration: none;
}

.footer-question{
    width:280px;
}


/*Media*/


@media screen and (max-width: 768px){
    
    .container{
        padding:0 30px;
    }

    .header-container{
        margin-top: 30px;
    }

    .start{
        background: url('../../assets/images/StartScreen768.jpg');
        height:1165px;
    }

    .start-block{
        display:flex;
        flex-wrap:wrap;
        align-items: center;
    justify-content: center;
    width:460px;
    margin:0 auto;
    }

    
.start-title{
    display:flex;
        align-items: left;
    justify-content: left;
    width:460px;
    margin:0 auto;
}

.start-text{
    margin-top:42px;
}
    

    .start{
        padding-top: 150px;
    }
 .about-items{
     row-gap:80px;
 }   

 .about-text-second{
     margin-bottom:0;
     margin-top:25px;
 }

.about-title{
    margin-bottom:25px;
}

.pets-item:last-child{
    display: none;
}

.pets-items{
    gap:40px;
}

.help-items{
  row-gap: 55px;
  margin:0 39px;
  width:630px;
  gap:60px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.help-item{
    width:170px;
}

.help-text{
    margin-bottom:0;
}

.footer-container{
    padding:30px 34px 0 34px;
}

.footer-title{
    margin-top:0;
}

.footer-img{
    align-items: center;
    margin:0 auto;
}

}



@media screen and (max-width: 767px){
    


    .popup-img{
        display:none;
    }

    .container{
padding:0 30px;
    }

    .header-container{
        align-items: center;
    }

    .nav-list{
        padding:0;
    }

    .header-burger{
        display:block;
       
    }

    .link-area{
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
   
.nav{
    width:320px;
    height:100%;
position:fixed;
top:0;
left:0;
background-color: #292929;
z-index: 10;
padding-top:248px;
padding-left:38px;
padding-right: 38px;
transform: translateX(100%);
transition: .2s all linear;
float: right;
left:auto;
right:0;
text-align: center;
}

    
    .nav-active{
        transform:translateX(0);
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    }

    .logo-active{
display: none;
    }


   .nav-item{
    width:100%;
    margin-right: 0;
    margin-bottom:40px;
}

.nav-item:last-child{
    margin-bottom:0;
}

.nav-link{
font-family: Arial;
font-size: 32px;
font-weight: 400;
line-height: 51px;
letter-spacing: 0px;
}

.header-nav-close{
    width:30px;
    height:30px;
    position:absolute;
    top:45px;
    right:35px;
    z-index: 11;
    cursor: pointer;
}

.help-items{
    flex-wrap: wrap;
    width: auto;
}


.start-title{
justify-content: center;
}

.start-text{
    width: 300px;
}

.close-line{
    width: 2px;
    height:30px;
    background-color: #F1CDB3;;
    position:absolute;
}

.close-line-first{
    left:5px;
}

.close-line-second{
    left: 50%;
    transform: translateX(-50%);
}

.close-line-third{
    right:5px;
}
.donation-img{
    height: 135px;
width: 260px;
}
}

    @media screen and (max-width: 320px){

        .container{
            padding:0 10px;
        }

.header-container{
    width:257px;
}


        .start-block{
            display:flex;
            flex-wrap:wrap;
            align-items: center;
        justify-content: center;
        width:300px;
        margin:0 auto;
        }
    
        
    .start-title{
        display:flex;
            align-items: center;
        justify-content: center;
        text-align: center;
        width:300px;
        margin:0 auto;
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.06em;
    }
    
    
    .start-text{
    text-align: center;
    }

    .help-items{
  row-gap: 55px;
  margin:0 39px;
  width:290px;
  gap:60px;
}

    .start{
        background: url('../../assets/images/StartScreen320.jpg');
        height:823px;
    }

    .about-items{
        text-align: center;
    }

    .about-title{
font-family: Georgia;
font-size: 25px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.06em;
text-align: center;
    }

    .about-text{
        width:270px;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align:justify;
margin-left:auto;
margin-right: auto;
    }

    .title{
width:270px;
    }

.about-items{
    margin:42px auto;
    row-gap: 42px;
}

.about-img{
    height: 353px;
width: 260px;
left: 20px;
top: 536px;
border-radius: 0px;
}

.pets-item-central{
    display:none;
}

.pets-container{
    display: block;
}

.arrow-prev{
    display: none;
}

.arrow-prev-sec{
    display: flex;
}

.arr-sec{
    display:flex;
    justify-content: center;
    gap:80px;
}

.title{
font-family: Georgia;
font-size: 25px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.06em;
text-align: center;
}

.pets-title{
    margin-top:42px;
        padding-bottom:42px;

    
}

.pets-item{
    margin-bottom:20px;
}


.arrow-btn{
    margin-bottom:42px;
}

.pets{
    border:solid #F6F6F6;
    height:791px;
}

.help-title{
    margin-top:42px;
    margin-bottom:42px;
}

.help-item{
    width:130px;
}

.help-items{
    gap:30px;
    margin:0;
    justify-content: space-between;
    row-gap: 30px;
}

.help-text{
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.06em;
text-align: center;
margin-top:20px;
}

.hepl-ico{
    width:50px;
    height:50px;
}

.donation-items{
    padding-top:42px;
    text-align: center;
    row-gap:42px;
    padding-bottom:42px;
}

.donation-title{
    margin:0 auto;
}

.donation-img{
    height: 135px;
width: 260px;
}

.number{
    font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.06em;
text-align: left;
}

.number-block{
    width:281px;
    margin: 0 auto;
    justify-content: center;
}

.credit-card{
    width:30px;
    height:23px;
}

.donation-text-second{
    text-align: justify;
    width:280px;
    margin: 20px auto 0;
}

.donation-text-first{
    font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
width:273px;
}

.footer-title{
font-family: Georgia;
font-size: 25px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.06em;
text-align: center;
padding-top:30px;
width:278px;
}

.footer-container{
    display:block;
    padding:0;
    text-align: center;
}

.footer-text{
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.footer-contact:last-child{
    margin-bottom: 0;
}

.footer-cnt{
    margin-left:20px;
    margin-right:20px;
}

.footer-cnt:last-child{
    margin-bottom:10px;
}

.footer-img{
    margin-top:40px;
}

.footer-pup{
    width:260px;
    height:269px;
}

.footer-central-text{
    width:258px;
}


}

@media screen and (max-width: 490px){

   .container{
    padding:0 10px;
   }

    .start-block{
        display:flex;
        flex-wrap:wrap;
        align-items: center;
    justify-content: center;
    width:300px;
    margin:0 auto;
    }

    
.start-title{
    display:flex;
        align-items: center;
    justify-content: center;
    text-align: center;
    width:300px;
    margin:0 auto;
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
}


.start-text{
text-align: center;
}

.about-text{
    width:270px;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align:justify;
margin-left:auto;
margin-right: auto;
}

.pets-title{
    margin-top:42px;
    width:300px;
    padding-bottom:42px;
}

.about-title{
    width:300px;

    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
}


}

@media screen and (max-width: 385px){
    .pets-item-central{
        display:none;
    }
    
    .pets-container{
        display: block;
    }
    .arrow-prev{
        display: none;
    }
    
    .arrow-prev-sec{
        display: flex;
    }
    
    .arr-sec{
        display:flex;
        justify-content: center;
        gap:80px;
    }

    .donation-items{
        padding-top:42px;
        text-align: center;
        row-gap:42px;
        padding-bottom:42px;
    }
    
    .donation-title{
        margin:0 auto;
    }
    
    .donation-img{
        height: 135px;
    width: 260px;
    }
    
    .number{
        font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    }
    
    .number-block{
        width:281px;
        margin: 0 auto;
        justify-content: center;
    }
    
    .credit-card{
        width:30px;
        height:23px;
    }
    
    .donation-text-second{
        text-align: justify;
        width:280px;
        margin: 20px auto 0;
    }
    
    .donation-text-first{
        font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    width:273px;
    }
    .footer-title{
        font-family: Georgia;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;
        padding-top:30px;
        width:278px;
        }
        
        .footer-container{
            display:block;
            padding:0;
            text-align: center;
        }
        
        .footer-text{
            text-align: center;
            margin-right:auto;
            margin-left:auto;
            font-family: Georgia;
            font-size: 20px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.06em;
        }
        
        .footer-contact:last-child{
            margin-bottom: 0;
        }
        
        .footer-cnt{
            margin-left:20px;
            margin-right:20px;
        }
        
        .footer-cnt:last-child{
            margin-bottom:10px;
        }
        
        .footer-img{
            margin-top:40px;
        }
        
        .footer-pup{
            width:260px;
            height:269px;
        }
        
        .footer-central-text{
            width:258px;
        }

        .about-items{
            text-align: center;
        }
    
        .about-title{
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
        }
    
        .about-text{
            width:270px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align:justify;
    margin-left:auto;
    margin-right: auto;
        }
    
        .title{
    width:270px;
        }
    
    .about-items{
        margin:42px auto;
        row-gap: 42px;
    }
    
    .about-img{
        height: 353px;
    width: 260px;
    left: 20px;
    top: 536px;
    border-radius: 0px;
    }

}

.popup{
    position:fixed;
    width:100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    top:0;
    left:0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target{
    opacity:1;
    visibility: visible;

}


.popup-container{
    min-height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}




.popup-close{
    border: 2px solid #F1CDB3;
    height: 52px;
width: 52px;
left: 890px;
border-radius: 100px;
margin-bottom:35%;
background-color: transparent;
cursor: pointer;
text-align: center;
padding-top:15px;
}

.popup-close:hover, .popup-close::after{
    background:#FDDCC4;
    }



.popup-content{
    background-color: #FAFAFA;
    display:flex;
    justify-content: space-between;
    gap:29px;
    border-radius: 9px;
}

.popup-title{
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.06em;
margin-top:50px;
margin-bottom: 10px;
}

.popup-subtitle{
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
margin-top:0;
margin-bottom:40px;
}

.popup-text{
    width:350px;
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.06em;
margin-top:0;
margin-bottom: 40px;
}

.popup-subtext{
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.06em;
color:#F1CDB3;
margin-bottom:11px;
}
.list{
    color:black;
}

.popup-img{
    width:500px;
    height:500px;
    border-radius: 9px;
}

.popup-info{
    margin-right:20px;
}

.popup-list{
    padding:15px;
}

a{
text-decoration: none;    
}

